{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Books</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'css/swiper.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/script.js'%}"></script>

	{% block  styles %}
	{% endblock %}


</head>
<body>
	<div class="wrapper">
		<header class="header">
			<nav class="menu">
				<ul>
					<li><a href="/">BookWeb</a></li>
					<li><a href="/">Home</a></li>
					<li><a>Category</a>
						<ul>
							<li><a href="{% url 'books:book_category' 'fantasy' %}">Fantasy</a></li>
							<li><a href="{% url 'books:book_category' 'sci_fi' %}">Sci_fi</a></li>
							<li><a href="{% url 'books:book_category' 'horror' %}">Horror</a></li>
							<li><a href="{% url 'books:book_category' 'biographies' %}">Biographies</a></li>
							<li><a href="{% url 'books:book_category' 'romance' %}">Romance</a></li>
							<li><a href="{% url 'books:book_category' 'thrillers' %}">Thrillers</a></li>

						</ul>
					</li>
					<li><a href="{% url 'books:author_list'%}">Authors</a></li>
					<li class="mobsearch">
						<form class="mobform", method="GET">
							<input type="text" name="query" value="{{ request.GET.q}}" class="mobsearchfield" placeholder="Search...">
							<input type="submit" value="" class="mobsearchsubmit">
						</form>
					</li>
				</ul>
			</nav>
			<form class="search" method="GET" action="{% url 'books:book_search' %}">
				<input type="text" name="query" value="{{ request.GET.q }}" class="searchfield" placeholder="Search Book">
				<input type="submit" value="" class="searchsubmit">
			</form>

			<div class="toggle"><img src="{% static 'img/menu.svg' %} "></div>
		</header>



		{% block content %}
        {% endblock %}

		<footer class="footer">
			<div class="copyright"><p>Copyright &copy 2017 www.focusoncode.com</p></div>
			<div class="footermenu">
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</div>

		</footer>
	</div>

<!-- Swiper JS -->
		<script src="{% static 'js/swiper.min.js'%}"></script>

		{% block scripts %}
        {% endblock %}

		<!-- Initialize Swiper -->
		<script>



		</script>
</body>
</html>